body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #004aad;
    color: white;
    padding: 20px;
}

.intro, .features, .graphics {
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    background: #004aad;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.graphics img {
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
}

.presentation-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #348e1d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
}

footer {
    background-color: #004aad;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
